.chooser {
  text-align: center;
}
/*.chooser-item a {
  display: block;
  text-align: center;
  height: 100%;
  color: inherit;
}*/
li .media {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
li .media:hover{
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  color: white;
  background-color: #00d1b2;
}
li .media:active{
  color: white;
  background-color: #00A98E;
}
.media-content {
  text-align: center;
  line-height: 4em;
}
.text {
  text-align: center;
}
li {
  padding-bottom: 10px;
}
