.p-title{
  border-style: solid;
  border-width: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  border-color: #00d1b2;
  background-color: #00d1b2;
  color: white;
}
