.chooser {
  text-align: center;
}
.chooser-item {
  height: auto;
  border-style: solid;
  border-color: #00d1b2;
  border-width: 2px;
  margin-bottom: 15px;
}
.chooser-item a {
  display: block;
  text-align: center;
  min-height: 100%;
  color: inherit;
}
.chooser-item:hover{
  border-style: solid;
  border-color: #00d1b2;
  border-width: 1px;
  color: white;
  background-color: #00d1b2;
}
.chooser-item:active{
  color: white;
  background-color: #00A98E;
}
.img {
  float: left;
  width: 50px;
  height: 50px;
  background: url('hospital.png') no-repeat;
  background-position: center;
  background-size: cover;
}
.sys {
  float: left;
  width: 50px;
  height: 50px;
  background: url('system.png') no-repeat;
  background-position: center;
  background-size: cover;
}
.text {
  text-align: center;
}
