@font-face {
  font-family: "RobotoLight";
  src: url("/fonts/RobotoLight/RobotoLight.eot");
  src: url("/fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
			url("/fonts/RobotoLight/RobotoLight.woff") format("woff"),
			url("/fonts/RobotoLight/RobotoLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
}

.hero-body {
  position: relative;
    z-index: 5;

  }
.hero-body-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url("https://static.pexels.com/photos/461077/pexels-photo-461077.jpeg");
  background-repeat:no-repeat;
  background-size:cover;
  opacity: .75;
}
.logo {
  height: 100%;
  width: 50px;
  background: url("drawing.svg") no-repeat center center;
  background-size: contain;
}
.fixed {
    position:fixed;
    top:0;
}
